@import '../../../assets/styles/constants';
@import '../../../assets/styles/index';

.header {
  background-color: $base-color;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__label {
    margin-left: 35px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  &__fav {
    margin-right: 35px;
    padding: 4px 10px;
    border: 2px white solid;
    border-radius: 15px;
    transition: all 0.1s linear;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: rgb(114, 114, 192);
    }
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .header {
    &__label {
      font-size: 25px;
      margin-left: 10px;
    }
    &__fav {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}
