.header {
  background-color: rgb(245, 241, 241);
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__logo {
    font-size: 25px;
    color: aqua;
  }
}
