body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
